html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ul{
    list-style-type: none;
}

a{
    color: #FFF;
}
body{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    background-color: #1B2316;
    color: #fff;
}

.background_three{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 84px;
}
.container{
    max-width: 1536px;
    
    margin: 0 auto;
}

.logo{
    padding-right: 14px;
}

.logo__link{
  font-weight: 600; 
  font-size: 28px; 
  font-style: black;
}

.header{
    margin-bottom: 140px;
}

.header__inner{
    line-height: 1;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    padding-top: 57px;
    font-weight: 400;
    font-style: inherit;
}

.header__inner-item{
    display: flex;
    align-items: center;
}

.search__img{
    padding-right: 59px;
}

.bag__img{
    padding-right: 59px;
}

.header__item-menu{
    display: flex;
    padding-left: 362px;
    gap: 59px;
    margin-right: 292px;
}

.header__block-title{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 106px;
    max-width: 892px;
    padding-top: 162px;
    padding-bottom: 15px;
}

.header__block-subtitle{
    font-style: medium;
    max-width: 892px;
    padding-bottom: 54px;
    font-size: 23px;
}

.header__block-button{
    background-color: transparent; 
    border: 1px solid #FFF;
    border-radius: 12px;
    padding:  15px 59px;
}

.header__block-button:hover{
    background-color: #fff;
    color: #000; 
}


.header__inner-tovar{
    padding-top: 102px;
}

.header__inner-calathea{
    backdrop-filter: blur(30px);
    border-radius: 100px;
    max-width: 512px;
    max-height: 744px;
    margin-left: 244px;
    
    padding-bottom: 100px;
}

.header__block-vid{
    font-size: 23px;
    font-weight: 300;
    padding-left: 72px;
}

.header__block-name {
    font-size: 38px;
    padding-bottom: 35px;
    padding-top: 20px;
    padding-left: 72px;
}

.header__calathea-img{
    padding-left: 25px;
    padding-bottom: 36px;
}
.header__block-button {
    padding:  15px 49px;
}

.header__block{
    column-count: 2;
}

.button_top{
    padding-left: 72px;
}


.trandly__item-menu{
    display: flex;
   justify-content: center;
}

.trandly__link{
    font-size: 55px;
    padding-bottom: 281px;
}

.trandly__calathea-img{
    position: absolute;
    top: 1266px;
    left: 106px;
}

.trandly__block-vid{
    font-size: 38px;
}

.trandly__block-name {
    font-size: 20px;
    max-width: 732px;
    padding-top: 24px;
}


.trandly__price{
    padding-top: 24px;
    padding-bottom: 30px;
    font-size: 38px;
}

.in_bag-button{
    margin-left: 35px;
    background-color: transparent; 
    border: 1px solid #FFF;
    border-radius: 12px;
    padding:  15px 15px;
}

.trandly__inner-tovar{
    backdrop-filter: blur(20px);
    border-radius: 100px;
    padding-top: 125px ;
    padding-left: 857px;
    padding-bottom: 176px;
}

.trandly__inner-tovar_2{
    backdrop-filter: blur(20px)  saturate(150%);
    border-radius: 100px;
    padding-top: 125px ;
    padding-left: 122px;
    padding-bottom: 176px;
    margin-top: 79px;
}

.trandly__ficus-img{
    position: absolute;
    top: 1902px;
    left: 951px;
}


.top__calathea-1__link{
    padding-top: 143px;
    font-size: 55px;
}

.top__calathea-1__block-vid{
    font-size: 38px;
}

.top__calathea-1__inner-tovar{
    backdrop-filter: drop-shadow(4px 4px 10px 
    blue);
    border-radius: 100px;
    padding-top: 361px ;
    padding-bottom: 176px;  
    max-width: 512px;
    padding-left: 66px;
}

.top__calathea-1_bag-button{
background-color: #000;
margin-left: 35px;
background-color: transparent; 
border: 1px solid #FFF;
border-radius: 12px;
padding:  15px 15px;
}

.top__calathea-1_price{
    font-size: 38px;
    padding-top: 46px;
}

.top__calathea-1__block-name{
    font-size: 20px;
    max-width: 732px;
    padding-top: 24px; 
}

.top__calathea-1__png{
    position: absolute;
    top: 2712px;
    left: 163px;
}